.button {
    padding: 1.5rem 3.3rem;
    display: inline-block;
    color: white;
    border: none;
    border-radius: 50px;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.button.btn-primary {
    background-color: $secondary-color;
    &:hover {
        background-color: #442cd6;
    }
}
.button.btn-secondary {
    background-color: $primary-color;
    &:hover {
        background-color: #ff7043;
    }
}

.secondary-btn {
    font-size: 16px;
    color: #fff;
    line-height: 1;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-table;
    padding: 20px 45px;
    font-weight: 400;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left top, right top, from(#ffa203), to(#ff5e29));
    background-image: linear-gradient(to right, #ffa203, #ff5e29);
}

.offers .secondary-btn {
    padding: 12px 25px;
    border: 1px solid #f68820;
    color: #262729;
    background-image: none;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    &:hover {
        background-image: -webkit-gradient(linear, left top, right top, from(#ffa203), to(#ff5e29));
        background-image: linear-gradient(to right, #ffa203, #ff5e29);
        color: #fff;
    }
}
