.header {
    background-color: white;
    &__nav {
        height: 100px;
    }
    &__social {
        position: relative;
        &::after {
            content: '';
            border-right: 2px solid $border-color;
            width: 2px;
            height: 22px;
            position: absolute;
            right: -8px;
            top: 50%;
            transform: translateY(-50%);
        }
        ul {
            li {
                transition: all 200ms ease-in-out;
                &:hover {
                    transform: translateY(-15%);
                }
                a {
                    color: $primary-color;

                    i {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
    }
    &__menu {
        position: relative;
        &::before {
            content: '';
            border-left: 2px solid $border-color;
            width: 2px;
            height: 22px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
