.header {
    background-color: white;
    &__nav {
        height: 100px;
    }
    &__social {
        position: relative;
        &::after {
            right: -7px;
        }
        ul {
            li {
                transition: all 200ms ease-in-out;
                &:hover {
                    transform: translateY(-15%);
                }
                a {
                    color: $primary-color;

                    i {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
    }
    &__menu {
        position: relative;
    }
}
