.hero {
    &__txt {
        .hero__text-content {
            width: 85%;
            @include breakpoint-down(small) {
                width: 100%;
            }

            span {
                font-size: $font-xsm;
                padding-bottom: 2rem;
                color: $primary-color;
                @include breakpoint-down(small) {
                    padding-bottom: 1rem;
                    display: inline-block;
                }
            }
            h2 {
                font-size: 5.2rem;
                font-weight: 600;
                padding-bottom: 2.5rem;
                color: $fifth-color;

                @include breakpoint-down(small) {
                    font-size: 3rem;
                    font-weight: 500;
                    padding-bottom: 2rem;
                }
            }
            p {
                font-size: $font-xs;
                padding-bottom: 2rem;
                color: $fourth-color;
            }
        }
    }

    &__btn {
        padding-bottom: 3.2rem;
    }
}
