.project {
    @include sectionTitle;
    a.button {
        transform: translate(-25px, -44px);
        @include breakpoint-down(small) {
            transform: translate(-7px, -35px);
        }
    }

    & .container {
        @include breakpoint-down(small) {
            background-color: #f5f7f9;
        }
    }

    .section_title {
        .sub-title {
            font-size: 2.9rem;
            color: $primary-color;
            font-weight: 500;
            letter-spacing: 1.4px;
            text-transform: capitalize;
        }
        .main-title {
            width: 80%;
            margin: 0 auto;
            font-size: 1.6rem;
            line-height: 34px;
            font-weight: normal;
            color: $fourth-color;
            margin-bottom: 30px;
            @include breakpoint-down(small) {
                width: 95%;
                font-size: 1.4rem;
            }
        }
        p {
            line-height: 2;
            width: 80%;
        }
    }

    &__div {
        background-color: #fff;
        box-shadow: 0 40px 70px 0 rgba(0, 0, 0, 0.05);
        height: 300px;
        width: 350px;
        text-align: center;
        border-radius: 15px;
        padding: 50px 40px 50px;
        margin: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include transition-sm;
        &:hover {
            box-shadow: 0 40px 70px 0 rgba(0, 0, 0, 0.1);
        }
        @include breakpoint-down(small) {
            width: 320px;
        }

        a {
            color: $primary-color;
            font-size: 13px;
            @include transition-sm;
            .arrow-sm {
                width: 14px;
                height: 20px;
            }
            &:hover {
                color: $secondary-color;
                transform: translateX(8px);
            }
        }

        &--top {
            transform: translateY(-56px);
            @include breakpoint-down(small) {
                transform: translateY(0px);
            }
        }
    }
}
