.hero.products {
    .hero__text-content {
        span {
            display: block;
        }
        h2 {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.4;
        }
    }
}
