html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

.particle {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(15vw, 5vh, 93px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.61;
  height: 10px;
  width: 10px;
  animation-delay: -0.2s;
  transform: translate3d(42vw, 42vh, 53px);
  background: #82d926;
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(83vw, 82vh, 10px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.29;
  height: 6px;
  width: 6px;
  animation-delay: -0.4s;
  transform: translate3d(49vw, 48vh, 72px);
  background: #26d98e;
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(71vw, 23vh, 55px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.58;
  height: 10px;
  width: 10px;
  animation-delay: -0.6s;
  transform: translate3d(42vw, 58vh, 97px);
  background: #8e26d9;
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(33vw, 51vh, 57px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.95;
  height: 6px;
  width: 6px;
  animation-delay: -0.8s;
  transform: translate3d(14vw, 58vh, 33px);
  background: #8e26d9;
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(39vw, 79vh, 5px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.93;
  height: 8px;
  width: 8px;
  animation-delay: -1s;
  transform: translate3d(42vw, 64vh, 87px);
  background: #265cd9;
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(46vw, 5vh, 32px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.1;
  height: 10px;
  width: 10px;
  animation-delay: -1.2s;
  transform: translate3d(56vw, 26vh, 73px);
  background: #2662d9;
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(25vw, 35vh, 45px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.2;
  height: 7px;
  width: 7px;
  animation-delay: -1.4s;
  transform: translate3d(82vw, 18vh, 46px);
  background: #b526d9;
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(10vw, 69vh, 41px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.28;
  height: 9px;
  width: 9px;
  animation-delay: -1.6s;
  transform: translate3d(22vw, 39vh, 58px);
  background: #d95026;
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(87vw, 22vh, 71px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.25;
  height: 8px;
  width: 8px;
  animation-delay: -1.8s;
  transform: translate3d(25vw, 38vh, 76px);
  background: #a3d926;
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(26vw, 13vh, 26px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.5;
  height: 8px;
  width: 8px;
  animation-delay: -2s;
  transform: translate3d(40vw, 2vh, 51px);
  background: #26d988;
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(66vw, 30vh, 12px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.84;
  height: 8px;
  width: 8px;
  animation-delay: -2.2s;
  transform: translate3d(80vw, 11vh, 25px);
  background: #5cd926;
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(12vw, 27vh, 97px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.42;
  height: 7px;
  width: 7px;
  animation-delay: -2.4s;
  transform: translate3d(38vw, 81vh, 18px);
  background: #d99a26;
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(53vw, 71vh, 73px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.86;
  height: 6px;
  width: 6px;
  animation-delay: -2.6s;
  transform: translate3d(46vw, 68vh, 18px);
  background: #5926d9;
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(21vw, 71vh, 24px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.12;
  height: 6px;
  width: 6px;
  animation-delay: -2.8s;
  transform: translate3d(89vw, 87vh, 59px);
  background: #26d9b8;
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(32vw, 46vh, 10px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 1;
  height: 9px;
  width: 9px;
  animation-delay: -3s;
  transform: translate3d(73vw, 13vh, 63px);
  background: #268ed9;
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(57vw, 32vh, 44px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.66;
  height: 9px;
  width: 9px;
  animation-delay: -3.2s;
  transform: translate3d(16vw, 82vh, 91px);
  background: #26d9c1;
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(85vw, 44vh, 83px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.99;
  height: 8px;
  width: 8px;
  animation-delay: -3.4s;
  transform: translate3d(59vw, 23vh, 91px);
  background: #26d980;
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(73vw, 1vh, 23px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.05;
  height: 6px;
  width: 6px;
  animation-delay: -3.6s;
  transform: translate3d(23vw, 28vh, 15px);
  background: #bb26d9;
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(24vw, 39vh, 91px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.15;
  height: 10px;
  width: 10px;
  animation-delay: -3.8s;
  transform: translate3d(5vw, 50vh, 95px);
  background: #26d932;
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(70vw, 53vh, 37px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.22;
  height: 8px;
  width: 8px;
  animation-delay: -4s;
  transform: translate3d(75vw, 88vh, 16px);
  background: #cdd926;
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(54vw, 37vh, 36px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.97;
  height: 9px;
  width: 9px;
  animation-delay: -4.2s;
  transform: translate3d(26vw, 86vh, 66px);
  background: #d94d26;
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(60vw, 90vh, 11px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.78;
  height: 9px;
  width: 9px;
  animation-delay: -4.4s;
  transform: translate3d(65vw, 72vh, 25px);
  background: #d92626;
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(17vw, 39vh, 65px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  animation-delay: -4.6s;
  transform: translate3d(80vw, 44vh, 51px);
  background: #d926a9;
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(39vw, 4vh, 61px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.43;
  height: 8px;
  width: 8px;
  animation-delay: -4.8s;
  transform: translate3d(60vw, 73vh, 92px);
  background: #266ed9;
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(57vw, 13vh, 75px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.93;
  height: 8px;
  width: 8px;
  animation-delay: -5s;
  transform: translate3d(56vw, 59vh, 72px);
  background: #26d950;
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(73vw, 35vh, 61px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.04;
  height: 7px;
  width: 7px;
  animation-delay: -5.2s;
  transform: translate3d(48vw, 47vh, 83px);
  background: #26b8d9;
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(4vw, 24vh, 82px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.01;
  height: 6px;
  width: 6px;
  animation-delay: -5.4s;
  transform: translate3d(39vw, 41vh, 71px);
  background: #d3d926;
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(52vw, 15vh, 77px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.99;
  height: 10px;
  width: 10px;
  animation-delay: -5.6s;
  transform: translate3d(15vw, 21vh, 30px);
  background: #d9266b;
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(28vw, 26vh, 86px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.61;
  height: 8px;
  width: 8px;
  animation-delay: -5.8s;
  transform: translate3d(45vw, 37vh, 57px);
  background: #26d9bb;
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(1vw, 70vh, 9px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.28;
  height: 8px;
  width: 8px;
  animation-delay: -6s;
  transform: translate3d(22vw, 74vh, 36px);
  background: #26d97d;
}

.animate__animated.animate__slideInUp {
  --animate-duration: 250ms;
}

.button {
  padding: 1.5rem 3.3rem;
  display: inline-block;
  color: white;
  border: none;
  border-radius: 50px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.button.btn-primary {
  background-color: #5034fc;
}
.button.btn-primary:hover {
  background-color: #442cd6;
}

.button.btn-secondary {
  background-color: #ff5722;
}
.button.btn-secondary:hover {
  background-color: #ff7043;
}

.nav_menu #logo {
  color: white;
}

nav.nav_menu #container {
  margin: 0 auto;
  max-width: 890px;
}

nav.nav_menu .toggle,
[id^=drop] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav.nav_menu {
  margin: 0;
  padding: 0 3rem;
}

nav.nav_menu #logo {
  display: block;
  padding: 0 30px;
  padding-left: 0;
  float: left;
  font-size: 17px;
  line-height: 50px;
}

/* Since we'll have the "ul li" "float:left"
   * we need to add a clear after the container. */
nav.nav_menu:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
   * and adding "position:reltive" */
nav.nav_menu ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
nav.nav_menu ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  transition: all 0.3s ease;
}

/* Styling the links */
nav.nav_menu a {
  display: block;
  padding: 14px 15px;
  color: #262729;
  line-height: 1.7;
  font-size: 16px;
}

nav.nav_menu ul li ul li:hover {
  background-color: #fff;
}

/* Background color change on Hover */
nav.nav_menu a:hover {
  color: #ff5722;
}

/* Hide Dropdowns by Default
   * and giving it a position of absolute */
nav.nav_menu ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav.nav_menu a" */
  top: 50px;
  background-color: #fff;
}

nav.nav_menu ul ul li ul li {
  background-color: #fff;
}

nav.nav_menu ul ul li a {
  color: black;
}

nav.nav_menu ul ul li a:hover {
  color: #ff5722;
}

/* Display Dropdowns on Hover */
nav.nav_menu ul li:hover > ul {
  display: inherit;
  z-index: 999;
  border-top: 3px solid #ff5722;
  box-shadow: -2px 2px 50px -25px rgba(0, 0, 0, 0.2);
  border-radius: 1px 1px 15px 15px;
  padding-top: 15px;
  margin-top: 10px;
  transition: opacity 0.3s ease, top 0.3s ease, margin-top 0.3s ease, background-color 0.3s ease;
}

/* Fisrt Tier Dropdown */
nav.nav_menu ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	
   * We move the 2nd and 3rd etc tier dropdowns to the left
   * by the amount of the width of the first tier.
  */
nav.nav_menu ul ul ul {
  position: absolute;
  top: -60px;
  /* has to be the same number as the "width" of "nav.nav_menu ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
nav.nav_menu li > a:after {
  content: "    +";
}

nav.nav_menu li > a:only-child:after {
  content: "";
}

.header {
  background-color: white;
}
.header__nav {
  height: 100px;
}
.header__social {
  position: relative;
}
.header__social::after {
  content: "";
  border-right: 2px solid rgba(38, 39, 41, 0.3);
  width: 2px;
  height: 22px;
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}
.header__social ul li {
  transition: all 200ms ease-in-out;
}
.header__social ul li:hover {
  transform: translateY(-15%);
}
.header__social ul li a {
  color: #ff5722;
}
.header__social ul li a i {
  width: 10px;
  height: 10px;
}
.header__menu {
  position: relative;
}
.header__menu::before {
  content: "";
  border-left: 2px solid rgba(38, 39, 41, 0.3);
  width: 2px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hero__txt .hero__text-content {
  width: 85%;
}
.hero__txt .hero__text-content .bg-shape {
  -webkit-animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
  animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
}
.hero__txt .hero__text-content h4 {
  font-size: 18px;
  padding-bottom: 2rem;
  color: #ff5722;
}
.hero__txt .hero__text-content h2 {
  font-size: 5.2rem;
  font-weight: 600;
  padding-bottom: 2.5rem;
  color: #25373f;
}
.hero__txt .hero__text-content p {
  font-size: 16px;
  padding-bottom: 2rem;
  color: rgba(38, 39, 41, 0.7);
}

/*# sourceMappingURL=index.css.map */
