// Colors
$bg-color: #f3f4f6;
$primary-color: #ff5722;
$secondary-color: #2c81eb;
$third-color: #262729;
$fourth-color: rgba(38, 39, 41, 0.7);
$fifth-color: #25373f;
$border-color: rgba(38, 39, 41, 0.3);

// Font Size
$font-xs: 16px;
$font-xsm: 18px;
$font-sm: 20px;
$font-md: 23px;
$font-base: 26px;
$font-lg: 29px;
$font-xl: 32px;
$font-2xl: 35px;
$font-3xl: 38px;
$font-4xl: 41px;
$font-5xl: 43px;
